/* Dev */
body {
  background: white;
}

.box {
  border: 1px solid black;
  margin: 10px;
  /* background: black; */
}

.dev {
  background-color: black;
  color: white;
  opacity: 0.05;
}

/* Layout */
.box {
  float: left;
  font-family: monospace;
  font-size: 20px;
}
