/* Dev */
.box {
  border: 1px solid;
  margin: 10px;
}

.dev {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* Layout */
.box {
  float: left;
  font-family: monospace;
  font-size: 20px;
}
