/* Dev */
div {
  opacity: .95;
}

#main-content {
  background: burlywood;
}

#slider-content {
  background: red;
}

#content-wrapper {
  background: rebeccapurple;
}

#content {
  background: yellowgreen;
  color: black;
}

#sneek-peek {
  background: orange;
}

#button-wrapper {
  background: rgba(0, 255, 0, 0.2);
}

/* Layout */
#main-content {
  position: absolute;
  right: 0px;
  width: 768px;
  height: 100vh;
  z-index: 10;
}

#slider-content {
  position: absolute;
  left: 0px;
  right: 768px;
  height: 100vh;
  overflow: hidden;
}

#content-wrapper {
  float: right;
  height: 100vh;
  width: 100%;
  margin-right: -95%; /* Apply transition here! */
}

#content-wrapper > div {
  float: left;
}

#content {
  width: 100%;
  margin-left: -5%;
  height: 100vh;
  opacity: 0; /* Apply transition here! */
}

#sneek-peek {
  width: 5%;
  height: 100vh;
  opacity: 1; /* Apply transition here! */
}

#button-wrapper {
  float: right;
  width: 0px;
  height: 100vh;
  margin-left: -100%;
}

#button-wrapper > div {
  position: relative;
  left: -50vh;
  width: 100vh;
  text-align: center;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: 50% 0%;
}

#button-wrapper button {
  font-size: 1em;
  padding: 0.1em 2em;
  overflow: hidden;
  white-space: nowrap;
}